/* GENERAL SETTINGS */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --primary-color: rgb(175, 202, 245); 
    --secondary-color: rgb(114, 119, 137);
    --third-color:rgba(121, 143, 177, 0.883); 
  }
  
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
/* END GENERAL SETTINGS */

/* DATE AND TIME LOCATION */

.date-time {
    padding: 1rem;
    margin: 10px auto;
    width: fit-content;
    height: fit-content;
    border: solid black;
    background-color: var(--third-color);
}
/* DATE AND TIME LOCATION */

/* DASHBOARD NAMING AREA */
.information-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.dashboard-title {
    font-size: 2rem;
    text-align: center;
    border: 1px solid black;
    min-width: 60%;
    max-width: 90%;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: black;
    font-weight: 200;
    cursor: pointer;
    margin-bottom: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    letter-spacing: 0.15rem; 
}
/* END DASHBOARD NAMING AREA */

/* DASHBOARD CARDS GENERAL SETTINGS */

.cards-container {
margin: 0 auto;
width: 90vw;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 1rem;
}

.card {
    border: solid black;
    height: 300px;
    width: 300px;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.card-title {
    height: 15%;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
    letter-spacing: 0.1rem; 
    line-height: 1.5;
}
.card-input {
    border-top: solid black;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
background-color: var(--secondary-color);
}
/* END DASHBOARD CARDS GENERAL SETTINGS */

/* FAVORITE LINKS */

.fav-links {
    list-style: none;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

a {
    color: black;
    font-style: italic;
    
    }

li {
    list-style: none;
    margin: 0.2rem;
    padding: 0.2rem;
    width: 100%;
    border: 1px dotted black;
    text-align: center;
}
/* END FAVORITE LINKS */

/* RANDOM JOKE CONTAINER */
#random-joke {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
/* END RANDOM JOKE CONTAINER */

/* NOTEPAD AREA*/

.notepad-container {
    height: 100%;
    margin-bottom: 10%; 
}

#noteInput {
    width: 100%;
    height: 100%;
    resize: none;
}
/* END NOTEPAD AREA*/

/* FAVORITE LINKS POPUP MODAL */

.modal-container {
    display: none;
}
.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    height: 150px;
    width: 250px;
    transform: translate(-50%, 50%);
    border: 1px solid black;
    border-radius: 10%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    }

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.4rem;
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.show-modal {
    display: flex;
}

.delete-button {
    margin-left: 1rem;
}
/* END POPUP MODAL */

/* BACKGROUND RANDOMIZER */
.random-picture {
padding: 1rem;
margin: 0 auto;
margin-bottom: 1rem;
margin-top: 1rem;
height: max-content;
width: fit-content;
border: solid black;
background-color: var(--third-color);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}
/* END BACKGROUND RANDOMIZER */